<section class="about">
    <img src="/images/image/about_banner.png" alt="">
    <div class="sctor-2">
        <div class="left-text">
            <h2>Granite Quarry</h2>
            <p>
                We have over 100 hectares of quarry areas distributed across our land. Our stone extraction process
                follows standardized methods to guarantee minimal impact on the surrounding environment.
            </p>
            <p>
                Through careful planning and implementation, we ensure that our operations are conducted responsibly and
                sustainably.
            </p>
            <div class="button-right right">
                <button><a href="/contact">Contact Us</a></button>
            </div>
        </div>
        <div class="right-image">
            <img src="images/image/a.png" alt="a">
        </div>
    </div>
    <div class="sctor-2">
        <div class="right-image">
            <img src="images/image/b.png" alt="a">
        </div>
        <div class="left-text right">
            <h2>Factory</h2>
            <p>
                At IN DMK Stone, we utilize state-of-the-art machinery and employ highly skilled technicians to create high-quality granite products that meet international standards
            </p>
            <div class="button-right left">
                <button><a href="/contact">Contact Us</a></button>
            </div>
        </div>

    </div>
    <div class="sctor-2">

        <div class="left-text">
            <h2>Qualified Product</h2>
            <p>
                Throughout the entire production process, from the extraction of the stone to the factory processing, crafting of the stone, and finally to the packaging stage, our dedicated expert team and quality control team meticulously oversee each and every step.
            </p>
            <div class="button-right right">
                <button><a href="/contact">Contact Us</a></button>
            </div>
        </div>
        <div class="right-image">
            <img src="images/image/c.png" alt="a">
        </div>
    </div>
    <div class="sctor-2">
        <div class="right-image">
            <img src="images/image/d.png" alt="a">
        </div>
        <div class="left-text right">
            <h2>Global Supply</h2>
            <p>
                Our company can deliver our exquisite stone products to your desired destination ports or even to your doorstep.
            </p>
            <p>
                Our reach spans Europe, America, Australia, Asia, and numerous other countries, ensuring that our granite stone brings its unique benefits to you, no matter where you are in the world. We eagerly await the opportunity to meet your project requirements.
            </p>
            <div class="button-right left">
                <button><a href="/contact">Contact Us</a></button>
            </div>
        </div>
    </div>

    <section class="quality-guarantee">
        <img src="/images/image/quality-guarantee.png" alt="quality guarantee">
    </section>

    <section class="find-out">
        <h2>Ready To Find Out More?</h2>
        <span>Tell us about your project today</span>
        <span>Our vision is satisfying ALL CUSTOMERS</span>
        <a href="/contact" class="button-center">Get A Free Estimate</a>
    </section>
</section>