<section class="about">
    <img src="/images/image/about_banner.png" alt="">
    <div class="sctor-2">
        <div class="left-text">
            <h2>Granite Quarry</h2>
            <p>
                We have over 100 hectares of quarry areas distributed across our land. Our stone extraction process
                follows standardized methods to guarantee minimal impact on the surrounding environment.
            </p>
            <p>
                Through careful planning and implementation, we ensure that our operations are conducted responsibly and
                sustainably.
            </p>
            <div class="button-right right">
                <button><a href="/">Contact Us</a></button>
            </div>
        </div>
        <div class="right-image">
            <img src="images/image/a.png" alt="a">
        </div>
    </div>
    <div class="sctor-2">
        <div class="right-image">
            <img src="images/image/b.png" alt="a">
        </div>
        <div class="left-text">
            <h2>Granite Quarry</h2>
            <p>
                We have over 100 hectares of quarry areas distributed across our land. Our stone extraction process
                follows standardized methods to guarantee minimal impact on the surrounding environment.
            </p>
            <p>
                Through careful planning and implementation, we ensure that our operations are conducted responsibly and
                sustainably.
            </p>
            <div class="button-right left">
                <button><a href="/">Contact Us</a></button>
            </div>
        </div>

    </div>
    <div class="sctor-2">

        <div class="left-text">
            <h2>Granite Quarry</h2>
            <p>
                We have over 100 hectares of quarry areas distributed across our land. Our stone extraction process
                follows standardized methods to guarantee minimal impact on the surrounding environment.
            </p>
            <p>
                Through careful planning and implementation, we ensure that our operations are conducted responsibly and
                sustainably.
            </p>
            <div class="button-right right">
                <button><a href="/">Contact Us</a></button>
            </div>
        </div>
        <div class="right-image">
            <img src="images/image/c.png" alt="a">
        </div>
    </div>
    <div class="sctor-2">
        <div class="right-image">
            <img src="images/image/d.png" alt="a">
        </div>
        <div class="left-text">
            <h2>Granite Quarry</h2>
            <p>
                We have over 100 hectares of quarry areas distributed across our land. Our stone extraction process
                follows standardized methods to guarantee minimal impact on the surrounding environment.
            </p>
            <p>
                Through careful planning and implementation, we ensure that our operations are conducted responsibly and
                sustainably.
            </p>
            <div class="button-right left">
                <button><a href="/">Contact Us</a></button>
            </div>
        </div>
    </div>

    <section class="quality-guarantee">
        <img src="/images/image/quality-guarantee.png" alt="quality guarantee">
    </section>

    <section class="find-out">
        <h2>Ready To Find Out More?</h2>
        <span>Tell us about your project today</span>
        <span>Our vision is satisfying ALL CUSTOMERS</span>
        <a href="/" class="button-center">Get A Free Estimate</a>
    </section>
</section>