<section class="blogs">
    <div class="blogs-wrapper">
        <h3>All Posts</h3>
        <div class="blogs-list">
            <a href="/">
                <article class="blog-article-collapsed">
                    <div class="left">
                        <img src="/images/image/37522b_337ba64f546348ad9fc1afc50395a58d~mv2.webp" alt="">
                    </div>
                    <div class="right">
                        <div class="right-first-row">
                            <div class="profile-picture">
                                <img src="/images/image/unnamed.jpg" alt="profile">
                            </div>
                            <div class="article-details">
                                <div class="author">
                                    <span>Vannlida Vannlida</span>
                                </div>
                                <div class="read-time">
                                    <span>
                                        <small>Oct 20</small>
                                        <div class="dot"></div>
                                        <small>2 min read</small>
                                    </span>
                                </div>
                            </div>
                            <div class="call-to-action">
                                <span class="Bvf4SR"><svg xmlns="http://www.w3.org/2000/svg" width="19"
                                        viewBox="0 0 19 19" role="img"
                                        class="blog-post-homepage-description-fill blog-post-homepage-link-hashtag-hover-fill">
                                        <path
                                            d="M2.44398805,5.99973295 C1.62345525,5.9690612 0.980075653,5.28418875 1.00047182,4.46312144 C1.02086799,3.64205413 1.69745853,2.98998831 2.51850166,3.0001164 C3.33954478,3.01024449 3.99985313,3.67880182 4,4.50012255 C3.98424812,5.34399206 3.28763905,6.0153508 2.44398805,5.99973295 L2.44398805,5.99973295 Z M2.44398805,10.9997329 C1.62345525,10.9690612 0.980075653,10.2841888 1.00047182,9.46312144 C1.02086799,8.64205413 1.69745853,7.98998831 2.51850166,8.0001164 C3.33954478,8.01024449 3.99985313,8.67880182 4,9.50012255 C3.98424812,10.3439921 3.28763905,11.0153508 2.44398805,10.9997329 L2.44398805,10.9997329 Z M2.44398805,15.9997329 C1.62345525,15.9690612 0.980075653,15.2841888 1.00047182,14.4631214 C1.02086799,13.6420541 1.69745853,12.9899883 2.51850166,13.0001164 C3.33954478,13.0102445 3.99985313,13.6788018 4,14.5001225 C3.98424812,15.3439921 3.28763905,16.0153508 2.44398805,15.9997329 L2.44398805,15.9997329 Z">
                                        </path>
                                    </svg></span>
                            </div>
                        </div>
                        <div class="right-second-row">
                            <h3>WHY IS GRANITE NOT JUST A SURFACE?</h3>
                        </div>
                        <div class="right-third-row">
                            <span>Granite forms deep within the Earth’s crust from the slow cooling of magma. This
                                process occurs over thousands to millions of years,...</span>
                        </div>
                        <div class="right-fourth-row">
                            <div class="text">
                                <span>12 views</span>
                                <span>0 comments</span>
                            </div>
                            <div class="like">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" viewBox="0 0 19 19" role="img">
                                    <path
                                        d="M9.44985848,15.5291774 C9.43911371,15.5362849 9.42782916,15.5449227 9.41715267,15.5553324 L9.44985848,15.5291774 Z M9.44985848,15.5291774 L9.49370677,15.4941118 C9.15422701,15.7147757 10.2318883,15.0314406 10.7297038,14.6971183 C11.5633567,14.1372547 12.3827081,13.5410755 13.1475707,12.9201001 C14.3829188,11.9171478 15.3570936,10.9445466 15.9707237,10.0482572 C16.0768097,9.89330422 16.1713564,9.74160032 16.2509104,9.59910798 C17.0201658,8.17755699 17.2088969,6.78363112 16.7499013,5.65913129 C16.4604017,4.81092573 15.7231445,4.11008901 14.7401472,3.70936139 C13.1379564,3.11266008 11.0475663,3.84092251 9.89976068,5.36430396 L9.50799408,5.8842613 L9.10670536,5.37161711 C7.94954806,3.89335486 6.00516066,3.14638251 4.31830373,3.71958508 C3.36517186,4.00646284 2.65439601,4.72068063 2.23964629,5.77358234 C1.79050315,6.87166888 1.98214559,8.26476279 2.74015555,9.58185512 C2.94777753,9.93163559 3.23221417,10.3090129 3.5869453,10.7089994 C4.17752179,11.3749196 4.94653811,12.0862394 5.85617417,12.8273544 C7.11233096,13.8507929 9.65858244,15.6292133 9.58280954,15.555334 C9.53938013,15.5129899 9.48608859,15.5 9.50042471,15.5 C9.5105974,15.5 9.48275828,15.5074148 9.44985848,15.5291774 Z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </article>
            </a>
            <a href="/">
                <article class="blog-article-collapsed">
                    <div class="left">
                        <img src="/images/image/37522b_f87fb7b35f4a4c24a6503778ea5e84e5~mv2.webp" alt="">
                    </div>
                    <div class="right">
                        <div class="right-first-row">
                            <div class="profile-picture">
                                <img src="/images/image/unnamed.jpg" alt="profile">
                            </div>
                            <div class="article-details">
                                <div class="author">
                                    <span>Vannlida Vannlida</span>
                                </div>
                                <div class="read-time">
                                    <span>
                                        <small>Oct 20</small>
                                        <div class="dot"></div>
                                        <small>2 min read</small>
                                    </span>
                                </div>
                            </div>
                            <div class="call-to-action">
                                <span class="Bvf4SR"><svg xmlns="http://www.w3.org/2000/svg" width="19"
                                        viewBox="0 0 19 19" role="img"
                                        class="blog-post-homepage-description-fill blog-post-homepage-link-hashtag-hover-fill">
                                        <path
                                            d="M2.44398805,5.99973295 C1.62345525,5.9690612 0.980075653,5.28418875 1.00047182,4.46312144 C1.02086799,3.64205413 1.69745853,2.98998831 2.51850166,3.0001164 C3.33954478,3.01024449 3.99985313,3.67880182 4,4.50012255 C3.98424812,5.34399206 3.28763905,6.0153508 2.44398805,5.99973295 L2.44398805,5.99973295 Z M2.44398805,10.9997329 C1.62345525,10.9690612 0.980075653,10.2841888 1.00047182,9.46312144 C1.02086799,8.64205413 1.69745853,7.98998831 2.51850166,8.0001164 C3.33954478,8.01024449 3.99985313,8.67880182 4,9.50012255 C3.98424812,10.3439921 3.28763905,11.0153508 2.44398805,10.9997329 L2.44398805,10.9997329 Z M2.44398805,15.9997329 C1.62345525,15.9690612 0.980075653,15.2841888 1.00047182,14.4631214 C1.02086799,13.6420541 1.69745853,12.9899883 2.51850166,13.0001164 C3.33954478,13.0102445 3.99985313,13.6788018 4,14.5001225 C3.98424812,15.3439921 3.28763905,16.0153508 2.44398805,15.9997329 L2.44398805,15.9997329 Z">
                                        </path>
                                    </svg></span>
                            </div>
                        </div>
                        <div class="right-second-row">
                            <h3>WHY IS GRANITE NOT JUST A SURFACE?</h3>
                        </div>
                        <div class="right-third-row">
                            <span>Granite forms deep within the Earth’s crust from the slow cooling of magma. This
                                process occurs over thousands to millions of years,...</span>
                        </div>
                        <div class="right-fourth-row">
                            <div class="text">
                                <span>12 views</span>
                                <span>0 comments</span>
                            </div>
                            <div class="like">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" viewBox="0 0 19 19" role="img">
                                    <path
                                        d="M9.44985848,15.5291774 C9.43911371,15.5362849 9.42782916,15.5449227 9.41715267,15.5553324 L9.44985848,15.5291774 Z M9.44985848,15.5291774 L9.49370677,15.4941118 C9.15422701,15.7147757 10.2318883,15.0314406 10.7297038,14.6971183 C11.5633567,14.1372547 12.3827081,13.5410755 13.1475707,12.9201001 C14.3829188,11.9171478 15.3570936,10.9445466 15.9707237,10.0482572 C16.0768097,9.89330422 16.1713564,9.74160032 16.2509104,9.59910798 C17.0201658,8.17755699 17.2088969,6.78363112 16.7499013,5.65913129 C16.4604017,4.81092573 15.7231445,4.11008901 14.7401472,3.70936139 C13.1379564,3.11266008 11.0475663,3.84092251 9.89976068,5.36430396 L9.50799408,5.8842613 L9.10670536,5.37161711 C7.94954806,3.89335486 6.00516066,3.14638251 4.31830373,3.71958508 C3.36517186,4.00646284 2.65439601,4.72068063 2.23964629,5.77358234 C1.79050315,6.87166888 1.98214559,8.26476279 2.74015555,9.58185512 C2.94777753,9.93163559 3.23221417,10.3090129 3.5869453,10.7089994 C4.17752179,11.3749196 4.94653811,12.0862394 5.85617417,12.8273544 C7.11233096,13.8507929 9.65858244,15.6292133 9.58280954,15.555334 C9.53938013,15.5129899 9.48608859,15.5 9.50042471,15.5 C9.5105974,15.5 9.48275828,15.5074148 9.44985848,15.5291774 Z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </article>
            </a>
            <a href="/">
                <article class="blog-article-collapsed">
                    <div class="left">
                        <img src="/images/image/6429e9_e11517d6e6a1425db83054971f2a911a~mv2.webp" alt="">
                    </div>
                    <div class="right">
                        <div class="right-first-row">
                            <div class="profile-picture">
                                <img src="/images/image/a.png" alt="profile">
                            </div>
                            <div class="article-details">
                                <div class="author">
                                    <span>Vannlida Vannlida</span>
                                </div>
                                <div class="read-time">
                                    <span>
                                        <small>Oct 20</small>
                                        <div class="dot"></div>
                                        <small>2 min read</small>
                                    </span>
                                </div>
                            </div>
                            <div class="call-to-action">
                                <span class="Bvf4SR"><svg xmlns="http://www.w3.org/2000/svg" width="19"
                                        viewBox="0 0 19 19" role="img"
                                        class="blog-post-homepage-description-fill blog-post-homepage-link-hashtag-hover-fill">
                                        <path
                                            d="M2.44398805,5.99973295 C1.62345525,5.9690612 0.980075653,5.28418875 1.00047182,4.46312144 C1.02086799,3.64205413 1.69745853,2.98998831 2.51850166,3.0001164 C3.33954478,3.01024449 3.99985313,3.67880182 4,4.50012255 C3.98424812,5.34399206 3.28763905,6.0153508 2.44398805,5.99973295 L2.44398805,5.99973295 Z M2.44398805,10.9997329 C1.62345525,10.9690612 0.980075653,10.2841888 1.00047182,9.46312144 C1.02086799,8.64205413 1.69745853,7.98998831 2.51850166,8.0001164 C3.33954478,8.01024449 3.99985313,8.67880182 4,9.50012255 C3.98424812,10.3439921 3.28763905,11.0153508 2.44398805,10.9997329 L2.44398805,10.9997329 Z M2.44398805,15.9997329 C1.62345525,15.9690612 0.980075653,15.2841888 1.00047182,14.4631214 C1.02086799,13.6420541 1.69745853,12.9899883 2.51850166,13.0001164 C3.33954478,13.0102445 3.99985313,13.6788018 4,14.5001225 C3.98424812,15.3439921 3.28763905,16.0153508 2.44398805,15.9997329 L2.44398805,15.9997329 Z">
                                        </path>
                                    </svg></span>
                            </div>
                        </div>
                        <div class="right-second-row">
                            <h3>WHY IS GRANITE NOT JUST A SURFACE?</h3>
                        </div>
                        <div class="right-third-row">
                            <span>Granite forms deep within the Earth’s crust from the slow cooling of magma. This
                                process occurs over thousands to millions of years,...</span>
                        </div>
                        <div class="right-fourth-row">
                            <div class="text">
                                <span>12 views</span>
                                <span>0 comments</span>
                            </div>
                            <div class="like">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" viewBox="0 0 19 19" role="img">
                                    <path
                                        d="M9.44985848,15.5291774 C9.43911371,15.5362849 9.42782916,15.5449227 9.41715267,15.5553324 L9.44985848,15.5291774 Z M9.44985848,15.5291774 L9.49370677,15.4941118 C9.15422701,15.7147757 10.2318883,15.0314406 10.7297038,14.6971183 C11.5633567,14.1372547 12.3827081,13.5410755 13.1475707,12.9201001 C14.3829188,11.9171478 15.3570936,10.9445466 15.9707237,10.0482572 C16.0768097,9.89330422 16.1713564,9.74160032 16.2509104,9.59910798 C17.0201658,8.17755699 17.2088969,6.78363112 16.7499013,5.65913129 C16.4604017,4.81092573 15.7231445,4.11008901 14.7401472,3.70936139 C13.1379564,3.11266008 11.0475663,3.84092251 9.89976068,5.36430396 L9.50799408,5.8842613 L9.10670536,5.37161711 C7.94954806,3.89335486 6.00516066,3.14638251 4.31830373,3.71958508 C3.36517186,4.00646284 2.65439601,4.72068063 2.23964629,5.77358234 C1.79050315,6.87166888 1.98214559,8.26476279 2.74015555,9.58185512 C2.94777753,9.93163559 3.23221417,10.3090129 3.5869453,10.7089994 C4.17752179,11.3749196 4.94653811,12.0862394 5.85617417,12.8273544 C7.11233096,13.8507929 9.65858244,15.6292133 9.58280954,15.555334 C9.53938013,15.5129899 9.48608859,15.5 9.50042471,15.5 C9.5105974,15.5 9.48275828,15.5074148 9.44985848,15.5291774 Z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </article>
            </a>
        </div>
    </div>
</section>