<section class="contact-home">
    <div class="conatct-banner" style="width: 100%;">
        <img src="/images/image/76d2f5_8a2ad2878ca047e1aa60a0bd2e2346bc~mv2.avif" alt="" width="100%">
        <div class="contact-overlay">
            <div class="card">
                <div class="contact-title">
                    <h1>Contact Us</h1>
                    <div class="underscore"></div>
                </div>
                <div class="some-text">
                    <span>
                        Contact us today to get the best quality granite for your site. Our experts will help you choose the perfect granite for your project and provide a free in-home consultation. We provide our services in PHNOM PENH, CAMBODIA
                    </span>
                </div>
                <div class="contact-now-btn">
                    <a href="#">Contact Now</a>
                </div>
            </div>
        </div>
    </div>
</section>