<section id="home">
    <section class="home-banner">
        <div class="banner-wrapper">
            <video src="/images/image/indmk_home_banner_rotate.mp4" autoplay loop muted playsinline></video>
            <div class="banner-overlay">
                <div class="top-row">
                    <h1>BEST GRANITE FOR YOUR PROJECT</h1>
                    <div class="buttons">
                        <button id="read-more"><a href="/">Read More</a></button>
                        <button>
                            <a href="/">Get A Quote
                                <span>
                                    <svg data-bbox="9 70.9 181 59" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 200 200">
                                        <g>
                                            <path
                                                d="M159 70.9l-2.2 2.4L183.6 99H9v3h174.6l-26.2 25.3 2.1 2.6 30.5-29.3-31-29.7z">
                                            </path>
                                        </g>
                                    </svg>
                                </span>
                            </a>
                        </button>
                    </div>
                </div>
                <div class="bottom-row">
                    <div class="info-card-banner">
                        <div class="image">
                            <img src="/images/image/20210512_164535.avif" alt="info card">
                        </div>
                        <div class="text">Our Quarry</div>
                    </div>
                    <div class="info-card-banner">
                        <div class="image">
                            <img src="/images/image/mmexport1713086094959.avif" alt="info card">
                        </div>
                        <div class="text">Our Factory</div>
                    </div>
                    <div class="info-card-banner">
                        <div class="image">
                            <img src="/images/image/mmexport1717233325368.avif" alt="info card">
                        </div>
                        <div class="text">Our Exporting</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="home-leading">
        <div class="leading-left">
            <div class="special-case">
                <div class="like-l">
                    <img src="/images/image/WhatsApp Image 2024-04-11 at 8_10_23 AM.avif" alt="the one like l">
                </div>
                <div class="not-like-l">
                    <img src="/images/image/20210512_164535 (1).avif" alt="the one not like l">
                </div>
                <div class="neither-kwraa">
                    <img src="/images/image/experienceimage.png" alt="the one not like l">
                </div>
            </div>
        </div>
        <div class="leading-right">
            <div class="right-head">
                <h2>The Leading Supplier of the Finest Natural Granite Stone</h2>
            </div>
            <div class="right-body">
                <p>At IN DMK Stone, we prioritize strict compliance with environmental legislation as a fundamental
                    aspect of our operations. <br> With over 100 hectares of quarry land at our disposal, we are
                    well-equipped to fulfill any volume of stone requirements you may have.</p>
                <p>Our commitment to the seamless execution of projects is upheld through the utilization of
                    cutting-edge machinery and the expertise of our skilled technicians, ensuring both efficiency and
                    superior quality throughout the process.</p>
                <p>Rigorous attention to detail characterizes our production process, encompassing thorough oversight
                    from inception to completion. Our reach extends to both local and international markets, enabling us
                    to deliver top-tier granite stone to any destination. </p>
                <p>We eagerly anticipate the opportunity to collaborate with you to actualize the fruition of your
                    envisioned projects.</p>
            </div>
            <div class="right-cta">
                <button>
                    <a href="/">
                        Get A Quote
                        <span>
                            <svg data-bbox="13.05 2.55 33.878 54.8" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 60 60">
                                <g>
                                    <path
                                        d="M46.5 28.9L20.6 3c-.6-.6-1.6-.6-2.2 0l-4.8 4.8c-.6.6-.6 1.6 0 2.2l19.8 20-19.9 19.9c-.6.6-.6 1.6 0 2.2l4.8 4.8c.6.6 1.6.6 2.2 0l21-21 4.8-4.8c.8-.6.8-1.6.2-2.2z">
                                    </path>
                                </g>
                            </svg>
                        </span>
                    </a>
                </button>
            </div>
        </div>
    </section>
    <section class="home-showroom">
        <div class="row-1">
            <h2>Showroom with Selection</h2>
        </div>
        <div class="row-2">
            <button class="checkmore"><a href="/">Check More</a></button>
        </div>
        <div class="row-3" id="showroom-marquee">
            <div class="marquee" id="shrm-marq" behavior="scroll" scrollamount="5">
                <img src="/images/image/8aa2ef_1ffa87e4d2eb4d678dfd5a066bf0aedc~mv2.jpg" class="marquee-img">
                <img src="/images/image/8aa2ef_6dcd7920de8e4a8e93f5e2e3c715de57~mv2.jpg" class="marquee-img">
                <img src="/images/image/8aa2ef_fea0805828bc486490d182dd7a5d0b86~mv2.jpg" class="marquee-img">
                <img src="/images/image/8aa2ef_261bd612a6bd4ec0be1dc8fe4e243244~mv2.jpg" class="marquee-img">
                <img src="/images/image/8aa2ef_b1a96fc5da0a4ab3b449f7858e313ac0~mv2.jpg" class="marquee-img">
                <img src="/images/image/76d2f5_7a91663c9c734bd88d47b4620ac39287~mv2.jpg" class="marquee-img">
                <img src="/images/image/76d2f5_23da9a604bee4956b55744ffedeca11a~mv2.jpg" class="marquee-img">
                <img src="/images/image/76d2f5_b45c9b71ea5243c2b34904e0ae2ec4a4~mv2.jpg" class="marquee-img">
                <img src="/images/image/76d2f5_d30d4de20188497aa459cbef6841ae0e~mv2.jpg" class="marquee-img">
                <img src="/images/image/76d2f5_c1691c60d5d745f18112c4d0615eaf6d~mv2.jpg" class="marquee-img">
                <img src="/images/image/76d2f5_b6727e6753274f61ac145aceaec4e747~mv2.jpg" class="marquee-img">
                <img src="/images/image/76d2f5_fa06770b132c49d3977e65dc6f13d7cf~mv2.jpg" class="marquee-img">
                <img src="/images/image/76d2f5_302c1caebb4b4f04b270ef296414e543~mv2.jpg" class="marquee-img">
                <img src="/images/image/76d2f5_7dfe75c361204e878aa03fcdf796ada1~mv2.jpg" class="marquee-img">
                <img src="/images/image/8aa2ef_1ffa87e4d2eb4d678dfd5a066bf0aedc~mv2 (1).jpg" class="marquee-img">
                <img src="/images/image/8aa2ef_6dcd7920de8e4a8e93f5e2e3c715de57~mv2 (1).jpg" class="marquee-img">
                <img src="/images/image/8aa2ef_fea0805828bc486490d182dd7a5d0b86~mv2 (1).jpg" class="marquee-img">
                <img src="/images/image/8aa2ef_261bd612a6bd4ec0be1dc8fe4e243244~mv2 (1).jpg" class="marquee-img">
                <img src="/images/image/8aa2ef_b1a96fc5da0a4ab3b449f7858e313ac0~mv2 (1).jpg" class="marquee-img">
                <img src="/images/image/76d2f5_7a91663c9c734bd88d47b4620ac39287~mv2 (1).jpg" class="marquee-img">
                <img src="/images/image/76d2f5_23da9a604bee4956b55744ffedeca11a~mv2 (1).jpg" class="marquee-img">
                <img src="/images/image/76d2f5_b45c9b71ea5243c2b34904e0ae2ec4a4~mv2 (1).jpg" class="marquee-img">
                <img src="/images/image/76d2f5_d30d4de20188497aa459cbef6841ae0e~mv2 (1).jpg" class="marquee-img">
                <img src="/images/image/76d2f5_c1691c60d5d745f18112c4d0615eaf6d~mv2 (1).jpg" class="marquee-img">
                <img src="/images/image/76d2f5_b6727e6753274f61ac145aceaec4e747~mv2 (1).jpg" class="marquee-img">
                <img src="/images/image/76d2f5_fa06770b132c49d3977e65dc6f13d7cf~mv2 (1).jpg" class="marquee-img">
                <img src="/images/image/76d2f5_302c1caebb4b4f04b270ef296414e543~mv2 (1).jpg" class="marquee-img">
                <img src="/images/image/76d2f5_7dfe75c361204e878aa03fcdf796ada1~mv2 (1).jpg" class="marquee-img">
            </div>
        </div>
    </section>
    <section class="home-video">
        <div class="video-header">
            <h2>IN DMK FACTORY FULL LANSCAPE VIEW</h2>
        </div>
        <div class="player">
            <video controls autoplay loop="true" muted playsinline="true" src="/images/image/file.mp4"></video>
        </div>
    </section>
    <section class="home-why-us">
        <div>
            <h2>Why Must be Us</h2>
        </div>
        <div class="home-why-us-cards">
            <article>
                <!-- icon -->
                <img src="/images/image/Just Listed Black Marble Instagram Story (Facebook Post) (3).avif" alt="">
                <!-- title -->
                <h3>Free <br>Consultation</h3>
                <!-- some text -->
                <p>We offer free consultations to help you select the perfect granite for your project. Our team will work with you to understand your needs and budget to ensure that you get the best granite for your site.</p>
            </article>
            <article>
                <!-- icon -->
                <img src="/images/image/Just Listed Black Marble Instagram Story (Facebook Post) (4).avif" alt="">
                <!-- title -->
                 <h3>On-Demand <br> Supply</h3>
                <!-- some text -->
                 <p>Whether it's a tiny masterpiece or a massive undertaking, we've got the perfect supply solution for you! Let us tailor our offerings to meet your specific needs and help you achieve greatness.</p>
            </article>
            <article>
                <!-- icon -->
                 <img src="/images/image/Just Listed Black Marble Instagram Story (Facebook Post) (2).avif" alt="">
                <!-- title -->
                 <h3>Professional <br>Service</h3>
                <!-- some text -->
                 <p>Take a leap towards excellence! Our team is here to serve you with unwavering professionalism and ethical values. Trust our experts to navigate you through the selection and installation process, ensuring your project reaches new heights of success.</p>
            </article>
            <article>
                <!-- icon -->
                 <img src="/images/image/Just Listed Black Marble Instagram Story (Facebook Post) (1).avif" alt="">
                <!-- title -->
                 <h3>High <br> Responsibility</h3>
                <!-- some text -->
                 <p>We understand the importance of our role in serving you. With a sense of duty and dedication, we strive to exceed your expectations.</p>
            </article>
        </div>
    </section>
    <section class="home-reviews">
        <img src="/images/image/68c3548bf3a2466fae201518cec1af9c.avif" alt="review banner">
        <div class="reviews-overlay"></div>
    </section>
    <section class="home-">
        <img src="/images/image/satisfaction.png" alt="review banner">
    </section>
</section>