<section id="home">
    <section class="home-banner">
        <div class="banner-wrapper">
            <video src="/images/image/indmk_home_banner_rotate.mp4" autoplay loop muted playsinline></video>
            <div class="banner-overlay">
                <div class="top-row">
                    <h1>BEST GRANITE FOR YOUR PROJECT</h1>
                    <div class="buttons">
                        <button id="read-more"><a href="/">Read More</a></button>
                        <button>
                            <a href="/">Get A Quote
                                <span>
                                    <svg data-bbox="9 70.9 181 59" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 200 200">
                                        <g>
                                            <path
                                                d="M159 70.9l-2.2 2.4L183.6 99H9v3h174.6l-26.2 25.3 2.1 2.6 30.5-29.3-31-29.7z">
                                            </path>
                                        </g>
                                    </svg>
                                </span>
                            </a>
                        </button>
                    </div>
                </div>
                <div class="bottom-row">
                    <div class="info-card-banner">
                        <div class="image">
                            <img src="/images/image/20210512_164535.avif" alt="info card">
                        </div>
                        <div class="text">Our Quarry</div>
                    </div>
                    <div class="info-card-banner">
                        <div class="image">
                            <img src="/images/image/mmexport1713086094959.avif" alt="info card">
                        </div>
                        <div class="text">Our Factory</div>
                    </div>
                    <div class="info-card-banner">
                        <div class="image">
                            <img src="/images/image/mmexport1717233325368.avif" alt="info card">
                        </div>
                        <div class="text">Our Exporting</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="home-leading">
        <div class="leading-left">
            <div class="special-case">
                <div class="like-l">
                    <img src="/images/image/WhatsApp Image 2024-04-11 at 8_10_23 AM.avif" alt="the one like l">
                </div>
                <div class="not-like-l">
                    <img src="/images/image/20210512_164535 (1).avif" alt="the one not like l">
                </div>
                <div class="neither-kwraa">
                    <img src="/images/image/experienceimage.png" alt="the one not like l">
                </div>
            </div>
        </div>
        <div class="leading-right">
            <div class="right-head">
                <h2>The Leading Supplier of the Finest Natural Granite Stone</h2>
            </div>
            <div class="right-body">
                <p>At IN DMK Stone, we prioritize strict compliance with environmental legislation as a fundamental
                    aspect of our operations. <br> With over 100 hectares of quarry land at our disposal, we are
                    well-equipped to fulfill any volume of stone requirements you may have.</p>
                <p>Our commitment to the seamless execution of projects is upheld through the utilization of
                    cutting-edge machinery and the expertise of our skilled technicians, ensuring both efficiency and
                    superior quality throughout the process.</p>
                <p>Rigorous attention to detail characterizes our production process, encompassing thorough oversight
                    from inception to completion. Our reach extends to both local and international markets, enabling us
                    to deliver top-tier granite stone to any destination. </p>
                <p>We eagerly anticipate the opportunity to collaborate with you to actualize the fruition of your
                    envisioned projects.</p>
            </div>
            <div class="right-cta">
                <button>
                    <a href="/">
                        Get A Quote
                    <span>
                        <svg data-bbox="13.05 2.55 33.878 54.8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                            <g>
                                <path
                                    d="M46.5 28.9L20.6 3c-.6-.6-1.6-.6-2.2 0l-4.8 4.8c-.6.6-.6 1.6 0 2.2l19.8 20-19.9 19.9c-.6.6-.6 1.6 0 2.2l4.8 4.8c.6.6 1.6.6 2.2 0l21-21 4.8-4.8c.8-.6.8-1.6.2-2.2z">
                                </path>
                            </g>
                        </svg>
                    </span>
                    </a>
                </button>
            </div>
        </div>
    </section>
    <section class="home-showroom">
        <div class="row-1">
            <h2>Showroom with Selection</h2>
        </div>
        <div class="row-2">
            <button class="checkmore">Check More</button>
        </div>
        <div class="row-3">
            <div class="marquee">
                <img src="76d2f5_c1691c60d5d745f18112c4d0615eaf6d~mv2.avif" alt="granite">
                <img src="76d2f5_d30d4de20188497aa459cbef6841ae0e~mv2.avif" alt="granite">
                <img src="76d2f5_b6727e6753274f61ac145aceaec4e747~mv2.avif" alt="granite">
                <img src="" alt="granite">
            </div>
        </div>
    </section>
    <section class="home-"></section>
    <section class="home-"></section>
    <section class="home-"></section>
    <section class="home-"></section>
    <section class="home-"></section>
</section>