<section class="products-home">
    <div class="products_banner" style="width: 100%;">
        <img src="/images/image/products_banner.png" alt="products banner" width="100%">
    </div>
    <div class="products_banner" style="width: 100%;">
        <img src="/images/image/products_signature_asthetic.png" alt="products banner" width="100%"
            style="margin-top: -1ch;">
        <div class="products-list">
            <div class="overlay">
                <div class="img-wrapper">
                    <img src="/images/image/8aa2ef_1f7c22b5c78d4c63bd6d76cfa4566fdc~mv2.webp" alt="a">
                </div>
                <div class="img-wrapper">
                    <img src="/images/image/8aa2ef_c5daa5b308ac4f5ba434ab346eb8e05f~mv2.webp" alt="a">
                </div>
                <div class="img-wrapper">
                    <img src="/images/image/8aa2ef_edb36f09c99d428a86ef1de83d063ce2~mv2.webp" alt="a">
                </div>
                <div class="img-wrapper">
                    <img src="/images/image/8aa2ef_7d7b946534c447f0a96006e34d46e4a3~mv2.webp" alt="a">
                </div>
                <div class="img-wrapper">
                    <img src="/images/image/8aa2ef_c4a0cf950b5741878b6ac0683c167944~mv2.webp" alt="a">
                </div>
                <div class="img-wrapper">
                    <img src="/images/image/8aa2ef_3ff59193c63d433784d3311d6041eeb8~mv2.webp" alt="a">
                </div>
                <div class="img-wrapper">
                    <img src="/images/image/8aa2ef_7446a5225595467496d72fa9b3b1e22c~mv2.webp" alt="a">
                </div>
                <div class="img-wrapper">
                    <img src="/images/image/8aa2ef_50b209a3a01d4c0d94caa4233d42df34~mv2.webp" alt="a">
                </div>
                <div class="img-wrapper">
                    <img src="/images/image/8aa2ef_ab13f3648f48424aaa5f7361c29d6fcc~mv2.webp" alt="a">
                </div>
                <div class="img-wrapper">
                    <img src="/images/image/8aa2ef_bc2b17f68c7248808252f2b1c4c3a207~mv2.webp" alt="a">
                </div>
                <div class="img-wrapper">
                    <img src="/images/image/8aa2ef_7534270ae35d4eceae53b1deacc831a5~mv2.webp" alt="a">
                </div>
                <div class="img-wrapper">
                    <img src="/images/image/8aa2ef_0c6ba9f2ab7f4cf09c0b013ed7209f42~mv2.webp" alt="a">
                </div>
                <div class="img-wrapper">
                    <img src="/images/image/8aa2ef_478ea537386c492d882e397f1edeeb04~mv2.webp" alt="a">
                </div>
                <div class="img-wrapper">
                    <img src="/images/image/8aa2ef_616f181f0a72455fbf1323681e3d0f62~mv2.webp" alt="a">
                </div>
            </div>
        </div>
    </div>

    <div class="get-in-touch">
        <div class="before">
            <div class="stretch"></div>
            <span>CONTACT</span>
            <div class="stretch"></div>
        </div>

        <h2>Get In Touch With Us</h2>
        <p>Upgrade your project with the best granite on the market. Contact us today to learn more about our products
            and services.</p>

        <a href="/contact">Contact Us</a>
    </div>
</section>