<section class="products-home">
    <div class="products_banner" style="width: 100%;">
        <img src="/images/image/our-projects.png" alt="products banner" width="100%">
    </div>
    <div class="projects_banner" style="width: 100%;">
        <div class="projects-list">
            <div class="overlay"></div>
        </div>
    </div>

    <div class="get-in-touch">
        <div class="before">
            <div class="stretch"></div>
            <span>CONTACT</span>
            <div class="stretch"></div>
        </div>

        <h2>Get In Touch With Us</h2>
        <p>Upgrade your project with the best granite on the market. Contact us today to learn more about our products
            and services.</p>

        <a href="/contact">Contact Us</a>
    </div>
</section>