<section class="products-home">
    <div class="products_banner" style="width: 100%;">
        <img src="/images/image/our-projects.png" alt="products banner" width="100%">
    </div>
    <div class="projects_banner" style="width: 100%;">
        <div class="projects-list">
            <div class="row-3" id="showroom-marquee">
                <div class="marquee" id="shrm-marq" behavior="scroll" scrollamount="5">
                    <img src="/images/image/8aa2ef_1ffa87e4d2eb4d678dfd5a066bf0aedc~mv2.jpg" class="marquee-img">
                    <img src="/images/image/8aa2ef_6dcd7920de8e4a8e93f5e2e3c715de57~mv2.jpg" class="marquee-img">
                    <img src="/images/image/8aa2ef_fea0805828bc486490d182dd7a5d0b86~mv2.jpg" class="marquee-img">
                    <img src="/images/image/8aa2ef_261bd612a6bd4ec0be1dc8fe4e243244~mv2.jpg" class="marquee-img">
                    <img src="/images/image/8aa2ef_b1a96fc5da0a4ab3b449f7858e313ac0~mv2.jpg" class="marquee-img">
                    <img src="/images/image/76d2f5_7a91663c9c734bd88d47b4620ac39287~mv2.jpg" class="marquee-img">
                    <img src="/images/image/76d2f5_23da9a604bee4956b55744ffedeca11a~mv2.jpg" class="marquee-img">
                    <img src="/images/image/76d2f5_b45c9b71ea5243c2b34904e0ae2ec4a4~mv2.jpg" class="marquee-img">
                    <img src="/images/image/76d2f5_d30d4de20188497aa459cbef6841ae0e~mv2.jpg" class="marquee-img">
                    <img src="/images/image/76d2f5_c1691c60d5d745f18112c4d0615eaf6d~mv2.jpg" class="marquee-img">
                    <img src="/images/image/76d2f5_b6727e6753274f61ac145aceaec4e747~mv2.jpg" class="marquee-img">
                    <img src="/images/image/76d2f5_fa06770b132c49d3977e65dc6f13d7cf~mv2.jpg" class="marquee-img">
                    <img src="/images/image/76d2f5_302c1caebb4b4f04b270ef296414e543~mv2.jpg" class="marquee-img">
                    <img src="/images/image/76d2f5_7dfe75c361204e878aa03fcdf796ada1~mv2.jpg" class="marquee-img">
                    <img src="/images/image/8aa2ef_1ffa87e4d2eb4d678dfd5a066bf0aedc~mv2 (1).jpg" class="marquee-img">
                    <img src="/images/image/8aa2ef_6dcd7920de8e4a8e93f5e2e3c715de57~mv2 (1).jpg" class="marquee-img">
                    <img src="/images/image/8aa2ef_fea0805828bc486490d182dd7a5d0b86~mv2 (1).jpg" class="marquee-img">
                    <img src="/images/image/8aa2ef_261bd612a6bd4ec0be1dc8fe4e243244~mv2 (1).jpg" class="marquee-img">
                    <img src="/images/image/8aa2ef_b1a96fc5da0a4ab3b449f7858e313ac0~mv2 (1).jpg" class="marquee-img">
                    <img src="/images/image/76d2f5_7a91663c9c734bd88d47b4620ac39287~mv2 (1).jpg" class="marquee-img">
                    <img src="/images/image/76d2f5_23da9a604bee4956b55744ffedeca11a~mv2 (1).jpg" class="marquee-img">
                    <img src="/images/image/76d2f5_b45c9b71ea5243c2b34904e0ae2ec4a4~mv2 (1).jpg" class="marquee-img">
                    <img src="/images/image/76d2f5_d30d4de20188497aa459cbef6841ae0e~mv2 (1).jpg" class="marquee-img">
                    <img src="/images/image/76d2f5_c1691c60d5d745f18112c4d0615eaf6d~mv2 (1).jpg" class="marquee-img">
                    <img src="/images/image/76d2f5_b6727e6753274f61ac145aceaec4e747~mv2 (1).jpg" class="marquee-img">
                    <img src="/images/image/76d2f5_fa06770b132c49d3977e65dc6f13d7cf~mv2 (1).jpg" class="marquee-img">
                    <img src="/images/image/76d2f5_302c1caebb4b4f04b270ef296414e543~mv2 (1).jpg" class="marquee-img">
                    <img src="/images/image/76d2f5_7dfe75c361204e878aa03fcdf796ada1~mv2 (1).jpg" class="marquee-img">
                </div>
            </div>  
        </div>
    </div>

    <div class="get-in-touch">
        <div class="before">
            <div class="stretch"></div>
            <span>CONTACT</span>
            <div class="stretch"></div>
        </div>

        <h2>Get In Touch With Us</h2>
        <p>Upgrade your project with the best granite on the market. Contact us today to learn more about our products
            and services.</p>

        <a href="/contact">Contact Us</a>
    </div>
</section>