<section class="products-home">
    <div class="products_banner" style="width: 100%;">
        <img src="/images/image/our-projects.png" alt="products banner" width="100%">
    </div>
    <div class="projects_banner" style="width: 100%;">
        <div class="projects-list">
            <div class="row-3" id="showroom-marquee">
                <div class="marquee" id="shrm-marq" behavior="scroll" scrollamount="5">
                    <div class="overlay">
                        <img src="/images/image/76d2f5_3783e03053f24aa588bc5a788d9472ac~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/8aa2ef_6eb4a4eb97fe406e9787297dc5471abb~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/76d2f5_5707c216b4d94fcabddf5b85e9956dfc~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/8aa2ef_9f245244e5734990914f2a787f8370a3~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/8aa2ef_1386fc0382c34c9fbf8003ab4a44a3ea~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/8aa2ef_0afbff95b1564498bd676ffe856b6d69~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/76d2f5_7d1470c610674362b682e3299a09d93e~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/8aa2ef_16dca1402ad34555bfc45c7963a00100~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/8aa2ef_9bff430c944c42a3ac3fdba384de8ff1~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/8aa2ef_6c15088fd3e147779ca15d3d417df343~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/8aa2ef_8e45300ffe12479a83852d6691e4e9cd~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/76d2f5_6582aed1dd504529818c10e88c497b06~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/76d2f5_193a1797ae7f434388928621562ed9dd~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/76d2f5_c6718c742113435cb2b287863dbf39c8~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/76d2f5_96718c4cb25e4aff861dcfd7eec81e83~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/76d2f5_8fa7577d133346b1bec6f4465a3cb77e~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/76d2f5_467cadbebb2343058eac94b688bfe0d6~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/76d2f5_bfa29d6935f54e5c93386d76cebc7057~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/76d2f5_27014e1ef1044f009bcf341ba9ee1094~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/76d2f5_191d428f22274012b9f654698ef3f094~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/76d2f5_036dba18f58d435295fc4bf1bab430b3~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/76d2f5_f781e443fa6542539be6b701b2727626~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/76d2f5_4049c70e953f4ece93d5b44d7da0d728~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/76d2f5_4d6092d1b7914679aad14ea1ad02e362~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/76d2f5_929b8714fffa4690a9d9d961951ad377~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/76d2f5_7278ba5019da4409ab29c1970f7678d0~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/76d2f5_79eb92bca07f42f4b6e8ca8ad1d31957~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/76d2f5_4e3ab37144d841629ca1abcabcbcae7f~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/76d2f5_0027a3facba34f339631533a6efcc89a~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/76d2f5_ad459687556b48d7ae040dd4d0bed09e~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/76d2f5_ad459687556b48d7ae040dd4d0bed09e~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/76d2f5_c35c2d32eb3543f0ac6e6e4fc1daf9ee~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/76d2f5_1f988b337c8a4dc5be596bfa14ad64e9~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/8aa2ef_9ccfe9f8b88549e98be85a5c967120ad~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/8aa2ef_887c11ea791d44368e8d4e675d0e7167~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/8aa2ef_b32ca132dd4947249adf665c8b6fbf96~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/76d2f5_6876ac0ac96b47d7a86b9260d07da8fb~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/8aa2ef_b04a6dcaac2a4428bc35b58d18f8e939~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/8aa2ef_2888c8fb1ed0461193937ad21d9a6060~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/8aa2ef_e02af70e9400497f97139e987bf89f04~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/8aa2ef_3c5d9e763f9248c48add71fcc8fd4349~mv2.webp" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/WhatsApp Image 2024-12-21 at 04.49.40_ca03ea6d.jpg" class="marquee-img">
                    </div>
                    <div class="overlay">
                        <img src="/images/image/WhatsApp Image 2024-12-21 at 04.49.41_07cdb00f.jpg" class="marquee-img">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="get-in-touch">
        <div class="before">
            <div class="stretch"></div>
            <span>CONTACT</span>
            <div class="stretch"></div>
        </div>

        <h2>Get In Touch With Us</h2>
        <p>Upgrade your project with the best granite on the market. Contact us today to learn more about our products
            and services.</p>

        <a href="/contact">Contact Us</a>
    </div>
</section>