@font-face {
    font-family: file;
    src: url('/fonts/QdVUSTchPBm7nuUeVf70viFluW44JQ.woff2');
}

:root {
    --primary: rgb(197, 169, 66);
    --primary-light: rgb(202, 190, 145);
    --primary-third: rgb(223, 218, 203);
    --white: #fff;
    --text: #0f0f0f;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: file;
    color: var(--text);
}

@media screen and (min-width: 768px) {

    header {
        z-index: 100001;
        background-color: var(--white);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2.5rem auto;
        border-bottom: 1px solid grey;
        height: fit-content;
    }

    header section.narrow-socials ul {
        background-color: var(--primary);
        display: flex;
        list-style: none;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
        padding-right: 10rem;
        padding-block: .4rem;
    }

    header section.narrow-socials ul li span svg {
        height: 1.6rem;
        opacity: 0.7;
    }

    header section.narrow-socials .profile span {
        display: flex;
        align-items: center;
    }

    header section.narrow-socials .profile span small {
        color: var(--white);
        opacity: 0.5;
    }

    header .follw-txt {
        text-transform: uppercase;
        font-size: 0.6rem;
        color: white;
        font-weight: bold;
    }

    header section.broad-heading {
        border-color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 10rem;
        padding-block: 0.9rem;
    }

    header section.broad-heading div.logo {
        margin-right: 5.5rem;
    }

    header section.broad-heading div.navbar {
        border: 1px solid grey;
        padding: 0.1ch;
    }

    header section.broad-heading div.navbar nav {
        padding: 1rem;
        background-color: var(--primary-light);
        display: flex;
        justify-content: space-evenly;
        gap: 4.5rem;
    }

    header section.broad-heading div.navbar nav a {
        color: var(--white);
    }

    header section.broad-heading div.navbar nav a.nav-item-active {
        text-decoration: underline;
    }

    main {
        margin-top: 7.4rem;
        scroll-behavior: smooth;
        background-color: rgb(238, 236, 236);
    }

    section#home section.home-banner {
        background-color: var(--white);
    }

    section#home section.home-banner div.banner-wrapper {
        width: 100%;
        height: 511px;
        overflow: hidden;
        position: relative;
    }

    section#home section.home-banner div.banner-wrapper video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    section#home div.banner-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #13131386;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding: 1rem 1rem 1rem 20rem;
    }

    section#home .top-row h1 {
        font-size: 3rem;
        font-weight: bolder;
        margin-bottom: 1rem;
        color: var(--primary);
    }

    section#home .top-row .buttons {
        display: flex;
        gap: 1rem;
    }

    section#home .top-row .buttons button {
        min-width: 200px;
        height: 50px;
        font-size: 1rem;
        border: none;
        outline: none;
    }

    section#home .top-row .buttons button a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1ch;
    }

    section#home .top-row .buttons button#read-more {
        background-color: var(--primary-light);
    }

    section#home .top-row .buttons button#read-more a {
        color: var(--white);
    }


    section#home .top-row .buttons button svg {
        width: 40px;
    }


    section#home .bottom-row {
        display: flex;
        margin-top: 2rem;
        gap: 1rem;
    }


    section#home .bottom-row div.info-card-banner {
        background-color: var(--primary-third);
        display: block;
        border-top-left-radius: 2ch;
        border-top-right-radius: 2ch;
        border-bottom-right-radius: 1ch;
        border-bottom-left-radius: 1ch;
    }

    section#home .bottom-row div img {
        height: 192px;
        width: 349px;
        border-radius: 2ch;
        box-shadow: 0px 2px 5px #615f5f;
    }

    .bottom-row div.text {
        padding: 1.5rem;
        font-size: 1.3rem;
        color: var(--white);
        font-weight: bolder;
        text-align: center;
    }

    section.home-leading {

        padding: 1rem 1rem 1rem 15rem;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 6rem;
    }

    section.home-leading .leading-left {
        padding: 1ch;
    }

    section.home-leading .leading-left .special-case {
        width: fit-content;
        position: relative;
    }

    section.home-leading .leading-left .special-case .not-like-l {
        width: fit-content;
        background-color: var(--white);
        padding: 1ch;
        position: absolute;
        top: 50%;
        left: 0;
    }

    section.home-leading .leading-left .special-case .neither-kwraa {
        width: fit-content;
        background-color: var(--white);
        padding: 0.5rem 1rem 1rem 1rem;
        position: absolute;
        top: 80%;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section.home-leading .leading-right {
        padding-right: 15rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        gap: 1rem;
    }

    section.home-leading .leading-right .right-head h2 {
        color: var(--primary);
        font-size: 3rem;
        line-height: 2.5ch;
        font-weight: bolder;
    }

    section.home-leading .leading-right .right-body {
        display: flex;
        flex-flow: column;
        gap: 1rem;
        font-size: 1.1rem;
        line-height: 1.7rem;

    }

    section.home-leading .leading-right .right-cta button {
        width: 150px;
        padding: 1rem 0.5rem;
        border: 1px solid var(--primary);
        background-color: var(--white);
        background: var(--white);
        outline: none;
    }

    section.home-leading .leading-right .right-cta button:hover {
        background-color: var(--primary);
        background: var(--primary);

    }

    section.home-leading .leading-right .right-cta button:hover a {
        color: var(--white);

    }

    section.home-leading .leading-right .right-cta button:hover svg {
        fill: var(--white);
    }

    section.home-leading .leading-right .right-cta button a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        color: var(--primary);
        font-size: 16px;
    }

    section.home-leading .leading-right .right-cta button a span {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section.home-leading .leading-right .right-cta button a span svg {
        width: 14px;
        fill: var(--primary);
        height: 14px;
    }

    section.home-showroom {
        margin-top: 3rem;
        padding: 1rem;
        width: 100%;
        min-height: 300px;
        background-color: black;
    }


    section.home-showroom .row-1,
    section.home-showroom .row-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }

    section.home-showroom .row-1 h2 {
        font-size: 2.6rem;
        font-weight: bolder;
        color: var(--primary);
    }

    section.home-showroom .row-2 button {
        background-color: var(--primary-light);
        border: 1px solid var(--primary-light);
        outline: none;
        width: 150px;
        height: 50px;
    }

    section.home-showroom .row-2 button a {
        font-size: 1.3rem;
        color: var(--white);
    }


    section.home-showroom .row-3,
    div.projects-list .row-3 {
        display: flex;
        padding: 1rem 3rem;
    }

    .row-3>*::-webkit-scrollbar {
        display: unset;
        display: none;
        visibility: hidden;
    }

    section.home-showroom .row-3 .marquee,
    div.projects-list .row-3 .marquee {
        padding: 1rem;
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
        gap: 1.5rem;
    }

    section.home-showroom .row-3 .marquee img {
        border-radius: 50%;
        pointer-events: none;
    }


    div.projects-list .row-3 .marquee {
        border-radius: 1ch;
        cursor: pointer;
        overflow: hidden;
        transition: all ease-in-out 550ms;
        padding: 1rem;
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
        gap: 1.5rem;
    }

    div.projects-list .row-3 .marquee .overlay {
        height: 650px;
        width: 250px;
        border-radius: 1ch;
        cursor: pointer;
        transition: all ease-in-out 550ms;
    }

    div.projects-list .row-3 .marquee .overlay img {
        height: 650px;
        width: 250px;
        transition: transform ease-in-out 550ms;
        cursor: pointer;
    }

    div.projects-list .row-3 .marquee .overlay:hover img {
        transform: scale(1.1);
    }

    section.home-video {
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    section.home-video .video-header h2 {
        font-size: 2.5rem;
        font-weight: bolder;
        color: var(--primary);
    }

    section.home-video .player {
        background-color: #d2d1d137;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section.home-why-us {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
    }

    section.home-why-us h2 {
        font-size: 2.5rem;
        font-weight: bolder;
        color: var(--primary);
    }

    section.home-why-us .home-why-us-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
        justify-content: space-between;
    }

    section.home-why-us .home-why-us-cards article {
        background-color: var(--primary-third);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 200px 50px 1fr;
        padding: 0 1rem;
        max-width: 260px;
        border-radius: 1ch;
        transition: all ease-in-out 250ms;
        box-shadow: 0px 2px 3px #615f5f;
    }

    section.home-why-us .home-why-us-cards article:hover {
        transform: scale(1.05);
    }

    section.home-why-us .home-why-us-cards article img {
        width: 200px;
        margin: 0 auto;
    }

    section.home-why-us .home-why-us-cards article h3 {
        font-size: 1.5rem;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }

    section.home-why-us .home-why-us-cards article p {
        margin-top: 2rem;
        line-height: 2.6ch;
        text-align: center;
        padding: 0 0 1rem 0;
    }

    section.home-reviews {
        width: 100%;
        position: relative;
    }

    section.home-reviews {
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            pointer-events: none;
        }
    }

    section.home-footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 5rem 15rem 2rem;

        gap: 1rem;
        box-shadow: 0px -3px 3px #cacaca;
        overflow-x: hidden;
    }

    section.home-footer span svg {
        width: 20px;
        height: 20px;
        fill: var(--text);
        color: var(--text);
    }

    section.home-footer .footer-item.first {
        display: flex;
        justify-content: space-evenly;
    }

    section.home-footer .footer-item.first .first-h h4 {
        font-size: 2rem;
        text-transform: uppercase;
        color: var(--primary);
        line-height: 2.3ch;
        margin-right: 3ch;
        text-align: center;
    }

    section.home-footer .footer-item.first .quick-links {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    section.home-footer .footer-item.first .quick-links h4,
    section.home-footer .footer-item.second .contact-and-address h4,
    section.home-footer .footer-item .mailing-list h4 {
        font-size: 1.5rem;
    }

    section.home-footer .footer-item.first .quick-links .links {
        display: flex;
        flex-direction: column;
        gap: 1ch;
    }

    section.home-footer .footer-item.first .quick-links .links a {
        transition: all ease-in-out 250ms;
    }

    section.home-footer .footer-item.first .quick-links .links a:hover {
        text-decoration: underline;
    }

    section.home-footer .footer-item.second {
        padding: 0 2rem;
        border-left: 3px solid grey;
        border-right: 3px solid grey;
        display: flex;
        flex-direction: column;
        gap: 1ch;
    }

    section.home-footer .footer-item.second .c-n-a {
        display: flex;
        gap: 1ch;
        align-items: center;
        justify-content: start;
        margin: 0.5rem 0;
    }

    section.home-footer .footer-item.second .c-n-a.e span svg {
        fill: black;
        color: black;
        width: 30px;
        margin-left: -12px;
    }

    section.home-footer .footer-item.third {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    section.home-footer .footer-item .input-group {
        display: flex;
        flex-direction: column;
    }

    section.home-footer .footer-item .input-group label {
        font-weight: bold;
        font-size: 2ch;
        margin: 1ch 0;
    }

    section.home-footer .footer-item .input-group input {
        height: 40px;
        width: 270px;
        outline: none;
        border: 1px solid black;
        border-radius: 1ch;
        box-shadow: 0px 3px 3px #22222281;
    }

    section.home-footer .footer-item input[type="submit"] {
        margin: 2ch 0;
        height: 40px;
        width: 270px;
        outline: none;
        border: 1px solid transparent;
        background-color: var(--white);
        background: var(--white);
        border-radius: 1ch;
        font-size: 2ch;
        box-shadow: 0px 2px 10px #b9b8b863;
        color: var(--primary);
        cursor: pointer;
    }

    section.about .sctor-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        padding: 1rem 10rem;
    }

    section.about .sctor-2 .left-text {
        padding: 7rem 1rem;
        display: flex;
        flex-flow: column;
        align-items: start;
        justify-content: start;
        gap: 1rem;
    }

    section.about .sctor-2 .left-text h2 {
        color: var(--primary);
    }

    section.about .sctor-2 .left-text p {
        color: var(--text);
        opacity: 0.7;
        font-size: 1.05rem;
        line-height: 3ch;
    }

    section.about .sctor-2 .left-text.right h2 {
        width: 100%;
        float: right;
        text-align: end;
    }

    section.about .sctor-2 .left-text.right p {
        text-align: end;
    }

    section.about .sctor-2 .left-text .button-right.right {
        width: 100%;
        margin-top: 3rem;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    section.about .sctor-2 .left-text .button-right.left {
        width: 100%;
        margin-top: 3rem;
        display: flex;
        align-items: center;
        justify-content: start;
    }

    section.about .sctor-2 .left-text .button-right button {
        outline: none;
        border: none;
        border-radius: 2ch;
        height: 45px;
        width: 150px;
        background-color: var(--white);
        color: var(--primary);
        box-shadow: 0px 3px 10px #999999b0;
        transition: all ease-in-out 250ms;
        cursor: pointer;
    }

    .button-right button a {
        transition: all ease-in-out 250ms;
        color: var(--primary);
        font-size: 1.3rem;
    }

    section.about .sctor-2 .left-text .button-right button:hover {
        background-color: #aca9a9;
    }

    section.about .sctor-2 .left-text .button-right button:hover a {
        color: var(--white);
    }

    section.quality-guarantee img {
        width: 100%;
        overflow-x: hidden;
        pointer-events: none;
    }

    section.find-out {
        padding: 2rem;
        display: grid;
        gap: 1rem;
        place-items: center;
    }

    section.find-out h2 {
        font-size: 2rem;
        font-weight: bolder;
    }

    section.find-out span {
        font-size: 1.1rem;
        color: var(--text);
        opacity: 0.7;
    }

    section.find-out .button-center {

        padding: 1rem 2rem;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1ch;
        background-color: var(--white);
        box-shadow: 0px 3px 10px #aca9a9;
        color: var(--primary);
        font-size: 1.2rem;
        text-align: center;
        transition: all ease-in-out 250ms;
    }

    section.find-out .button-center:hover {
        background-color: #a5a3a3a4;
        color: var(--white);
    }

    section.products-home .get-in-touch .before {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    section.products-home .get-in-touch {
        padding: 2.2rem;
        background-color: var(--primary-light);
    }

    section.products-home .get-in-touch .before .stretch {
        height: 0.2ch;
        width: 70px;
        background-color: var(--white);
    }

    section.products-home .get-in-touch .before span {
        font-weight: bolder;
        font-size: 1.2rem;
        color: var(--white);
    }

    section.products-home .get-in-touch h2 {
        font-size: 2rem;
        font-weight: bolder;
        text-align: center;
        margin: 1rem;
    }

    section.products-home .get-in-touch p {
        width: 40%;
        margin: 1rem auto;
        color: var(--white);
        font-size: 1.1rem;
        text-align: center;
        line-height: 2.5ch;
    }

    section.products-home .get-in-touch a {
        margin: 2rem auto;
        padding: 1rem 2rem;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1ch;
        background-color: var(--white);
        box-shadow: 0px 3px 10px #aca9a9;
        color: var(--primary);
        font-size: 1.2rem;
        text-align: center;
        transition: all ease-in-out 250ms;
    }

    section.products-home .products-list {
        height: fit-content;
        background-size: cover;
        background-image: url('/images/image/8aa2ef_d08be950bfdc4bdcb5a07bf2bb28f278~mv2.avif');
        background-position: center;
    }

    section.products-home .products-list .overlay .img-wrapper {
        width: 477px;
        height: 577px;
        border-radius: 1ch;
        cursor: pointer;
        overflow: hidden;
        transition: all ease-in-out 550ms;
    }

    section.products-home .products-list .overlay img {
        width: 100%;
        height: 100%;
        transition: transform ease-in-out 550ms;
        cursor: pointer;
        object-fit: cover;
    }

    section.products-home .products-list .overlay .img-wrapper:hover img {
        transform: scale(1.1);
    }


    section.products-home .products-list .overlay {
        width: fit-content;
        padding: 1rem;
        margin: 1rem auto;
        display: grid;
        grid-template-columns: 477px 477px 477px;
        gap: 10px;
        place-items: center;
    }

    section.blogs {
        display: flex;
        width: fit-content;
        flex-direction: column;
        padding: 4rem;
        margin: 4rem auto;
    }

    section.blogs .blogs-wrapper {
        background-color: var(--white);
        display: flex;
        width: 60%;
        flex-direction: column;
        padding: 1rem;
        margin: 1rem auto;
    }

    section.blogs h3 {
        text-align: left;
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        padding: 1rem 0 2rem 0;
    }

    section.blogs .blogs-wrapper .blogs-list {
        display: grid;
        grid-auto-flow: row;
        gap: 1.2rem;
    }

    section.blogs .blogs-wrapper .blogs-list .blog-article-collapsed {
        background-color: white;
        border: 1px solid rgb(129, 126, 126);
        display: grid;
        grid-template-columns: 1fr 1fr;
        cursor: pointer;
    }

    section.blogs .blogs-wrapper .blogs-list .blog-article-collapsed .left {
        width: 454px;
        height: 340.5px;
    }

    section.blogs .blogs-wrapper .blogs-list .blog-article-collapsed .left img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    section.blogs .blogs-wrapper .blogs-list .blog-article-collapsed .right {
        display: flex;
        flex-direction: column;
    }

    section.blogs .blogs-wrapper .blogs-list .blog-article-collapsed .right-first-row {
        transition: all ease-in-out 300ms;

        display: flex;
        gap: 1ch;
        padding: 1ch 0;
        height: fit-content;
        position: relative;
    }

    section.blogs .blogs-wrapper .blogs-list .blog-article-collapsed .right-first-row img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    section.blogs .blogs-wrapper .right-first-row .author {
        font-size: 14px;
        padding: 1ch 0 0 0;
    }

    section.blogs .blogs-wrapper .right-first-row .read-time span {
        font-size: 13px;
        display: flex;
        align-items: center;
        gap: 2ch;
    }

    section.blogs .blogs-wrapper .right-first-row .read-time span .dot {
        background-color: black;
        width: 3px;
        height: 3px;
        border-radius: 50%;
    }

    section.blogs .blogs-wrapper .right-first-row .call-to-action {
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    section.blogs .right-second-row {
        margin-block: 1rem;
    }

    section.blogs .right-second-row h3 {
        font-size: 30px;
        font-weight: bolder;
        transition: all ease-in-out 300ms;

    }

    section.blogs .right-third-row {
        margin-block: 0 1rem;
        width: 80%;
    }

    section.blogs .right-third-row span {
        font-size: 16px;
        transition: all ease-in-out 300ms;

    }

    section.blogs .right-fourth-row {
        /* background-color: blue; */
        margin-top: 1rem;
        width: 80%;
        padding: 1rem 0 0 0;
        border-top: 1px solid rgb(211, 210, 210);
        display: flex;
        justify-content: space-between;

    }

    section.blogs .like svg {
        fill: white;
        stroke: red;
    }

    section.blogs .right-fourth-row span {
        font-size: 13px;
        margin-inline: 0 1rem;
    }

    section.blogs article:hover .right-second-row>*,
    section.blogs article:hover .right-third-row>* {
        color: var(--primary);
    }

    section.contact-home .conatct-banner {
        position: relative;
    }

    section.contact-home .conatct-banner .contact-overlay {
        background: linear-gradient(to right,
                #0f0f0ff1,
                #0f0f0fd8,
                #0a0a0a9c,
                #0f0f0fd8);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    section.contact-home .conatct-banner .contact-overlay .card {
        height: 100%;
        width: 40%;
        margin: 0 0 0 25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    section.contact-home .card h1 {
        font-size: 70px;
        font-weight: bolder;
        color: var(--white);
    }

    section.contact-home .card .underscore {
        margin-top: 1rem;
        margin-left: 0.5rem;
        height: 5px;
        width: 170px;
        background-color: var(--primary);
    }

    section.contact-home .card .some-text span {
        color: var(--white);
        font-size: 19px;
    }

    section.contact-home .contact-now-btn a {
        padding: 1rem 2rem;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1ch;
        background-color: var(--primary);
        color: var(--white);
        font-size: 1.2rem;
        text-align: center;
        transition: all ease-in-out 250ms;
    }

    section.contact-home .contact-now-btn a:hover {
        background-color: var(--white);
        color: var(--primary);
    }

    .contact-container {
        display: grid;
        grid-template-columns: 400px 300px;
        width: fit-content;
        margin: 0 auto;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-top: 4rem;
    }

    .contact-container .form-section {
        padding: 20px;
        margin: 1rem auto;
    }

    .contact-container .form-section form {
        background-color: var(--white);
        box-shadow: 0px 3px 10px #615f5f;
        padding: 2rem;
        margin: 1rem 0;
    }

    .contact-container .group-1 {
        display: flex;
    }

    .contact-container .input-group {
        margin-bottom: 15px;
    }

    .contact-container label {
        display: block;
        margin-bottom: 5px;
    }

    .contact-container input[type="text"],
    .contact-container input[type="email"],
    .contact-container input[type="tel"],
    .contact-container textarea {
        width: calc(100% - 12px);
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .contact-container textarea {
        height: 100px;
        resize: vertical;
    }

    .contact-container button {
        background-color: #f0ad4e;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .contact-container .contact-info {
        width: 450px;
        background-color: #111;
        color: white;
        display: flex;
        flex-flow: column;
        padding-left: 4rem;
    }

    .contact-info .infor-head {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-block: 4rem;
    }

    .contact-info .infor-head .line {
        height: 3px;
        width: 70px;
        background-color: var(--white);
    }

    .contact-info .infor-head h2 {
        font-size: 40px;
        color: var(--white);
    }

    .contact-container .contact-item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 3rem;
        align-items: center;
    }

    .contact-container .contact-item img {
        width: 80px;
        height: 80px;
        margin-right: 10px;
    }

    hr {
        margin: 1rem 1rem 1rem 0;
    }

    .contact-container .contact-item p,
    .contact-container .contact-item p>* {
        margin-left: 1rem;
        color: var(--white);
        font-size: 20px;
        line-height: 2.5ch;
        text-align: left;
    }


    .contact-home .map {
        width: 100%;
    }

    .contact-home .map iframe {
        width: 100%;
    }

}

@media screen and (max-width: 767px) {

    /* Overall Header Styling */
    header {
        background-color: var(--white);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100001;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid grey;
    }

    header section.narrow-socials {
        display: none;
    }

    /* Broad Heading Section */
    header section.broad-heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
    }

    header section.broad-heading div.logo {
        margin-bottom: 1rem;
        width: 100%;
    }

    header section.broad-heading div.logo img {
        width: 70px;
        height: auto;
    }

    /* Navbar */
    header section.broad-heading div.navbar {
        margin-left: 0;
    }

    header section.broad-heading div.navbar nav {
        margin-left: 0;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        background-color: var(--primary-light);
        padding: 1rem;
        align-items: center;
    }

    header section.broad-heading div.navbar nav a {
        font-size: 1rem;
        color: var(--white);
        text-align: center;
    }

    header section.broad-heading div.navbar nav a.nav-item-active {
        text-decoration: underline;
    }

    /* Profile Icon */
    header section.narrow-socials .profile span svg {
        height: 1.6rem;
        opacity: 0.7;
    }

    header section.narrow-socials .profile span small {
        color: var(--white);
        opacity: 0.7;
        margin-top: 0.2rem;
    }

    /* img, video {
        width: 50px;
    } */

    main {
        margin-top: 6rem;
    }

    section.home-banner {
        display: none;
    }

    section.home-leading {
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }

    section.home-leading .leading-left {
        padding: 1ch;
    }

    section.home-leading .leading-left img {
        width: 100%;
        height: 200px;
    }

    section.home-leading .leading-left .special-case .not-like-l {
        display: none;
    }

    section.home-leading .leading-left .special-case .neither-kwraa {
        display: none;
    }

    section.home-leading .leading-right {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        gap: 1rem;
    }

    section.home-leading .leading-right .right-head h2 {
        color: var(--primary);
        font-size: 1.5rem;
        line-height: 2ch;
        font-weight: bolder;
    }

    section.home-leading .leading-right .right-body {
        display: flex;
        flex-flow: column;
        gap: 1rem;
        font-size: 1rem;
        line-height: 1.5rem;

    }

    section.home-leading .leading-right .right-cta button {
        width: 150px;
        padding: 1rem 0.5rem;
        border: 1px solid var(--primary);
        background-color: var(--white);
        background: var(--white);
        outline: none;
    }

    section.home-leading .leading-right .right-cta button:hover {
        background-color: var(--primary);
        background: var(--primary);

    }

    section.home-leading .leading-right .right-cta button:hover a {
        color: var(--white);

    }

    section.home-leading .leading-right .right-cta button:hover svg {
        fill: var(--white);
    }

    section.home-leading .leading-right .right-cta button a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        color: var(--primary);
        font-size: 16px;
    }

    section.home-leading .leading-right .right-cta button a span {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section.home-leading .leading-right .right-cta button a span svg {
        width: 14px;
        fill: var(--primary);
        height: 14px;
    }

    section.home-showroom {
        margin-top: 3rem;
        width: 100%;
        min-height: 300px;
        background-color: black;
    }

    section.home-showroom .row-1,
    section.home-showroom .row-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }

    section.home-showroom .row-1 h2 {
        font-size: 1.2rem;
        font-weight: bolder;
        color: var(--primary);
    }

    section.home-showroom .row-2 button {
        background-color: var(--primary-light);
        border: 1px solid var(--primary-light);
        outline: none;
        width: 150px;
        height: 40px;
    }

    section.home-showroom .row-2 button a {
        font-size: 1.1rem;
        color: var(--white);
    }


    section.home-showroom .row-3,
    div.projects-list .row-3 {
        display: flex;
        padding: 1rem;
    }

    .row-3>*::-webkit-scrollbar {
        display: unset;
        display: none;
        visibility: hidden;
    }

    section.home-showroom .row-3 .marquee,
    div.projects-list .row-3 .marquee {
        padding: .5rem;
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
        gap: 1rem;
    }

    section.home-showroom .row-3 .marquee img {
        height: 100px;
        border-radius: 50%;
        pointer-events: none;
    }


    div.projects-list .row-3 .marquee {
        border-radius: 1ch;
        cursor: pointer;
        overflow: hidden;
        transition: all ease-in-out 550ms;
        padding: 1rem;
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
        gap: 1.5rem;
    }

    div.projects-list .row-3 .marquee .overlay {
        height: 650px;
        width: 250px;
        border-radius: 1ch;
        cursor: pointer;
        transition: all ease-in-out 550ms;
    }

    div.projects-list .row-3 .marquee .overlay img {
        height: 650px;
        width: 250px;
        transition: transform ease-in-out 550ms;
        cursor: pointer;
    }

    div.projects-list .row-3 .marquee .overlay:hover img {
        transform: scale(1.1);
    }

    section.home-video {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    section.home-video .video-header h2 {
        margin-top: 2rem;
        font-size: 1.2rem;
        font-weight: bolder;
        color: var(--primary);
    }

    section.home-video .player {
        background-color: #d2d1d137;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section.home-video .player video {
        width: 100%;
    }

    section.home-why-us {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
    }

    section.home-why-us h2 {
        font-size: 1.5rem;
        font-weight: bolder;
        color: var(--primary);
    }

    section.home-why-us .home-why-us-cards {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    section.home-why-us .home-why-us-cards article {
        background-color: var(--primary-third);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 2fr;
        padding: 0 1rem;
        border-radius: 1ch;
        transition: all ease-in-out 250ms;
        box-shadow: 0px 2px 3px #615f5f;
    }

    section.home-why-us .home-why-us-cards article:hover {
        transform: scale(1.05);
    }

    section.home-why-us .home-why-us-cards article img {
        width: 100px;
        height: 100px;
        margin: auto;
    }

    section.home-why-us .home-why-us-cards article h3 {
        font-size: 1.2rem;
        text-align: left;
        text-transform: uppercase;
        align-self: center;
    }

    section.home-why-us .home-why-us-cards article p {
        margin-top: 1rem;
        line-height: 1.6;
        text-align: left;
        padding: 1rem;
        grid-column: 2 span / 3;
    }

    section.home-reviews,
    section.home-satisfaction {
        display: none;
    }

    section.home-footer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        overflow-x: hidden;
        border-top: 1px solid #e9e6e6;
    }

    section.home-footer span svg {
        width: 20px;
        height: 20px;
        fill: var(--text);
        color: var(--text);
    }

    section.home-footer .footer-item.first {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    section.home-footer .footer-item.first .first-h h4 {
        display: none;
    }

    section.home-footer .footer-item.first .quick-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        gap: 0.5rem;
    }

    section.home-footer .footer-item.first .quick-links h4,
    section.home-footer .footer-item.second .contact-and-address h4,
    section.home-footer .footer-item .mailing-list h4 {
        font-size: 1.5rem;
    }

    section.home-footer .footer-item.first .quick-links .links {
        display: flex;
        flex-direction: row;
        gap: 1ch;
    }

    section.home-footer .footer-item.first .quick-links .links a {
        transition: all ease-in-out 250ms;
    }

    section.home-footer .footer-item.second {
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 1ch;
    }

    section.home-footer .footer-item.second .c-n-a {
        display: flex;
        gap: 1ch;
        align-items: center;
        justify-content: start;
        margin: 0.5rem 0;
    }

    section.home-footer .footer-item.second .c-n-a.e span svg {
        fill: black;
        color: black;
        width: 30px;
        margin-left: -12px;
    }

    section.home-footer .footer-item.third {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    section.home-footer .footer-item .input-group {
        display: flex;
        flex-direction: column;
    }

    section.home-footer .footer-item .input-group label {
        font-weight: bold;
        font-size: 2ch;
        margin: 1ch 0;
    }

    section.home-footer .footer-item .input-group input {
        height: 40px;
        width: 270px;
        outline: none;
        border: 1px solid black;
        border-radius: 1ch;
        box-shadow: 0px 3px 3px #22222281;
    }

    section.home-footer .footer-item input[type="submit"] {
        margin: 2ch 0;
        height: 40px;
        width: 270px;
        outline: none;
        border: 1px solid transparent;
        background-color: var(--white);
        background: var(--white);
        border-radius: 1ch;
        font-size: 2ch;
        box-shadow: 0px 2px 10px #b9b8b863;
        color: var(--primary);
        cursor: pointer;
    }

    section.about {
        margin-top: 7rem;
    }

    section.about .a-ban {
        display: none;
    }

    section.about .sctor-2 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 1rem;
        background-color: var(--white);
        box-shadow: 0px 3px 10px #e9e6e6;
        width: 95%;
        margin: 1rem auto;
        border-radius: 1ch;
    }

    section.about .sctor-2 img {
        width: 100%;
    }

    section.about .sctor-2 .left-text.left {
        grid-row: 2;
    }

    section.about .sctor-2 .left-text h2 {
        color: var(--primary);
    }

    section.about .sctor-2 .left-text p {
        margin-top: 1rem;
        color: var(--text);
        opacity: 0.9;
        font-size: 1.05rem;
        line-height: 2.3ch;
    }

    section.about .sctor-2 .left-text .button-right button {
        margin-top: 1rem;
        outline: none;
        border: none;
        border-radius: 2ch;
        height: 40px;
        width: 120px;
        background-color: var(--primary);
        color: var(--white);
        transition: all ease-in-out 250ms;
        cursor: pointer;
    }

    .button-right button a {
        transition: all ease-in-out 250ms;
        color: var(--white);
        font-size: 1.1rem;
    }

    .quality-guarantee {
        display: none;
    }

    section.find-out {
        padding: 2rem;
        display: grid;
        gap: 1rem;
        place-items: center;
    }

    section.find-out h2 {
        font-size: 1.3rem;
        font-weight: bolder;
    }

    section.find-out span {
        font-size: 1rem;
        color: var(--text);
        opacity: 0.7;
    }

    section.find-out .button-center {

        padding: 1rem 2rem;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1ch;
        background-color: var(--white);
        box-shadow: 0px 3px 10px #e9e6e6;
        color: var(--primary);
        font-size: 1.2rem;
        text-align: center;
        transition: all ease-in-out 250ms;
    }

    section.find-out .button-center:hover {
        background-color: #a5a3a3a4;
        color: var(--white);
    }

    section.products-home .get-in-touch .before {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    section.products-home .get-in-touch {
        padding: 2.2rem;
        background-color: var(--primary-light);
    }

    section.products-home .get-in-touch .before .stretch {
        height: 0.2ch;
        width: 70px;
        background-color: var(--white);
    }

    section.products-home .get-in-touch .before span {
        font-weight: bolder;
        font-size: 1.2rem;
        color: var(--white);
    }

    section.products-home .get-in-touch h2 {
        font-size: 2rem;
        font-weight: bolder;
        text-align: center;
        margin: 1rem;
    }

    section.products-home .get-in-touch p {
        width: 100%;
        margin: 1rem auto;
        color: var(--white);
        font-size: 1.1rem;
        text-align: center;
        line-height: 2.5ch;
    }

    section.products-home .get-in-touch a {
        margin: 2rem auto;
        padding: 1rem;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1ch;
        background-color: var(--white);
        color: var(--primary);
        font-size: 1.2rem;
        text-align: center;
        transition: all ease-in-out 250ms;
    }

    section.products-home .products-list {
        height: fit-content;
        background-size: cover;
        background-image: url('/images/image/8aa2ef_d08be950bfdc4bdcb5a07bf2bb28f278~mv2.avif');
        background-position: center;
    } 

    section.products-home .products-list .overlay .img-wrapper {
        width: 177px;
        height: 277px;
        border-radius: 1ch;
        margin: 2ch;
        cursor: pointer;
        overflow: hidden;
        transition: all ease-in-out 550ms;
    }

    section.products-home .products-list .overlay img {
        width: 100%;
        height: 100%;
        transition: transform ease-in-out 550ms;
        cursor: pointer;
        object-fit: cover;
    }

    section.products-home .products-list .overlay {
        width: fit-content;
        margin: 0 auto;
        display: grid;
        gap: 1ch;
        grid-template-columns: 177px 177px;
        place-items: center;
    }

    section.home-showroom .row-3 .marquee,
    div.projects-list .row-3 .marquee {
        padding: 1rem;
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
        gap: 1.5rem;
    }

    section.home-showroom .row-3 .marquee img {
        border-radius: 50%;
        pointer-events: none;
    }


    div.projects-list .row-3 .marquee {
        background-color: #a5a5a59c;
        border-radius: 1ch;
        cursor: pointer;
        overflow: hidden;
        transition: all ease-in-out 550ms;
        padding: 1rem;
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
        gap: .5rem;
    }

    div.projects-list .row-3 .marquee .overlay {
        height: 350px;
        width: 150px;
        border-radius: 1ch;
        cursor: pointer;
        transition: all ease-in-out 550ms;
    }

    div.projects-list .row-3 .marquee .overlay img {
        height: 350px;
        width: 150px;
        transition: transform ease-in-out 550ms;
        cursor: pointer;
    }

    div.projects-list .row-3 .marquee .overlay:hover img {
        transform: scale(1.1);
    }

    section.blogs {
        display: flex;
        width: fit-content;
        flex-direction: column;
        margin: 1rem auto;
    }

    section.blogs .blogs-wrapper {
        background-color: var(--white);
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 1rem;
        margin: 1rem auto;
    }

    section.blogs h3 {
        text-align: left;
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        padding: 1rem 0 2rem 0;
    }

    section.blogs .blogs-wrapper .blogs-list {
        display: grid;
        grid-auto-flow: row;
        gap: 1.2rem;
    }

    section.blogs .blogs-wrapper .blogs-list .blog-article-collapsed {
        background-color: white;
        border: 1px solid #b6b6b6;
        display: grid;
        grid-template-columns: 1fr;
        cursor: pointer;
        width: 100%;
        overflow-x: hidden  ;
    }

    section.blogs .blogs-wrapper .blogs-list .blog-article-collapsed .left {
        width: 90%;
        height: 240.5px;
    }

    section.blogs .blogs-wrapper .blogs-list .blog-article-collapsed .left img {
        width: 90vw;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    section.blogs .blogs-wrapper .blogs-list .blog-article-collapsed .right {
        display: flex;
        flex-direction: column;
        padding: 1ch;
    }

    section.blogs .blogs-wrapper .blogs-list .blog-article-collapsed .right-first-row {
        transition: all ease-in-out 300ms;
        display: flex;
        gap: 1ch;
        padding: 1ch 0;
        height: fit-content;
        position: relative;
    }

    section.blogs .blogs-wrapper .blogs-list .blog-article-collapsed .right-first-row img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    section.blogs .blogs-wrapper .right-first-row .author {
        font-size: 14px;
        padding: 1ch 0 0 0;
    }

    section.blogs .blogs-wrapper .right-first-row .read-time span {
        font-size: 13px;
        display: flex;
        align-items: center;
        gap: 2ch;
    }
    section.blogs .blogs-wrapper .right-first-row .read-time span .dot {
        background-color: black;
        width: 3px;
        height: 3px;
        border-radius: 50%;
    }

    section.blogs .blogs-wrapper .right-first-row .call-to-action {
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    section.blogs .right-second-row h3 {
        font-size: 20px;
        font-weight: bolder;
        transition: all ease-in-out 300ms;

    }

    section.blogs .right-third-row {
        margin-block: 0 1rem;
        width: 80%;
    }

    section.blogs .right-third-row span {
        font-size: 16px;
        transition: all ease-in-out 300ms;

    }

    section.blogs .right-fourth-row {
        margin-top: 1rem;
        width: 100%;
        padding: 1rem 0 0 0;
        border-top: 1px solid rgb(211, 210, 210);
        display: flex;
        justify-content: space-between;

    }

    section.blogs .like svg {
        fill: white;
        stroke: red;
    }

    section.blogs .right-fourth-row span {
        font-size: 13px;
        margin-inline: 0 1rem;
    }

    section.blogs article:hover .right-second-row>*,
    section.blogs article:hover .right-third-row>* {
        color: var(--primary);
    }
}